#title-alam {
    color: #512F84;
    padding-bottom: 10px;
}
.switch-alam {
    background-color: #F4F4F5;
    padding: 20px 0;
}
.tab-switch-alam {
    margin-top: 0;
}
.flecha-abajo-alam {
    border-left: 25px solid transparent;
    border-right: 25px solid transparent;
    border-top: 25px solid #F4F4F5;
    position: absolute;
    bottom: -44px;
}
.t-container-alam {
    text-align: center;
    color: #4E5154;
}
.money-t-alam, .precio-t-alam {
    color: #512F84;
}
.money-t-alam-alt, .precio-t-alam-alt {
    color: #BDD530;
}
.money-t-alam, .money-t-alam-alt {
    font-size: 2em;
}
.hasta-text-alam {   
    font-family: 'Futura Md BT';
    color: #512F84;
    font-size: 1rem;
    margin: 0px;
    line-height: 1;
    text-transform: uppercase;
}
.divider-alt-alam {
    height: 2px;
    width: 100%;
    background-color: #512F84;
    margin-top: 5px;
    
}
.hasta-antes {
    color: #4E5154;
}
.hasta-ahora {
    color: #512F84;
}
.hasta-alam-special {
    font-size: 8px;
    left: -10px;
    top: 20px;
    margin-bottom: 0;
}
.hasta-alam-special-2 {
    font-size: 8px;
    left: -5px;
    top: 20px;
    margin-bottom: 0;
}
.cant-alam {
    font-size: 2.2em;
    margin: 5px 0;
}
.cant-alam-2 {
    font-size: 2.8rem;
    margin-bottom: 0;
}
.alam-alt:hover {
    background-color: #512F84;
    color: white;
}
.hasta-alam {
    font-size: 0.7rem;
    font-family: 'Futura Md BT';
    color: #95C841;
    margin: 0px;
    line-height: 1;
    text-transform: uppercase;
    margin-top: 10px;
    text-align: center;
}
.megas-alam {
    font-size: 1.4rem;
    margin-bottom: 0 !important;
}
.megas {
    margin-bottom: 0;
}
.month-text-alam {
    color: #512F84;
    text-transform: uppercase;
    text-align: center;
    margin: 0px !important;
    line-height: 1;
}
.cont-precio {
    margin-bottom: -15px;
}
.container-alam::after {
    content: '';
    position: absolute;
    width: 0;
    height: 0;
    border-left: 15px solid transparent;
    border-right: 15px solid transparent;
    border-bottom: 15px solid rgba(189, 213, 48, 1);
    top: 146px;
    left: 46%;
}
.container-alam-special::after {
    border-bottom: 15px solid #512F84;
}
.month-text-special {
    color: #BDD530;
}
.linea-text {
    color: #96C942;
    text-align: center;
}
.megas-tel {
    margin-bottom: 10px;
}
.old-capacidad-tel {
    background-color: white;
    border: 1px solid #512F84;
    color: #512F84;
    text-align: center;
    padding: 5px;
    position: relative;
    left: -25px;
    bottom: 7px;
    margin-right: -50px;
}
.arrow-linea {
    margin-top: -7px;
    left: -25px;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 0 20px 20px 0;
    border-color: transparent #512F84 transparent transparent;
    position: relative;
}
.arrow-r-linea {
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 20px 20px 0 0;
    border-color: #512F84 transparent transparent transparent;
    margin-top: -21px;
    position: relative;
}
.internet-contains {
    margin: 0 !important;
}
.suscribe-internet {
    background-color: #512F84;
    color: white;
    padding: 7px 20px;
    cursor: pointer;

}
.suscribe-tel {
    background-color: #F4F4F5;
    border: 1px solid #B3B3B3;
    color: #707070;
    padding: 7px 20px;
    cursor: pointer;

}

.suscribe-sat-active {
    background-color: #512F84 !important;
    color: white !important;
    padding: 7px 20px;
    cursor: pointer;

}
.suscribe-sat-inactive {
    background-color: #F4F4F5 !important; 
    border: 1px solid #B3B3B3 !important;
    color: #707070 !important;
    padding: 7px 20px;
    cursor: pointer;
}
p.month-text-alam {
    font-size: 2em;
}
.portabilidad {
    background-color: #BDD530;
    text-align: center;
    color: #512F84;
    padding-top: 20px;
    height: 20vmin;
}
.btn-purple {
    background-color: #4C2C7C;
    border: 2px solid white;
    color: white;
    padding: 20px 15px;
    position: relative;
    font-size: 1.3em;
    top: 0vmin;
}
.btn-purple:hover {
    background-color: #BDD530;
    border: 2px solid #512F84;
    color: #512F84;
    padding: 20px 15px;
    font-size: 1.3em;
}
.card-carac {
    padding: 7vmin 2vmin 5vmin;
}
.ofertON {
    font-size: 1.8em;
}
.yellow-container-alam-alt {
    background-color: #512F84;
    border: solid 2px #ffffff;
    padding: 15px;
    margin-left: -35px;
    margin-right: -35px;
    text-align: center;
    flex-direction: column;
}
.alambrico-container {
    padding: 0px 25px;
}
.yellow-container-alam{
    background-color: #BDD530;
    padding: 15px;
    text-align: center;
    padding: 10px 15px 25px 15px;
    flex-direction: column;
    margin-left: -35px;
    margin-right: -35px;
}
.special-pack {
    margin-left: 0;
}
.small-alam {
    color: #212528;
    text-align: center;
    font-size: 14px;
}
.contrata-alam {
    width: 100%;
    font-family: 'Futura Md BT';
    text-align: center;
    line-height: 1;
    background-color: #ffffff;
    color: #512F84;
    text-transform: uppercase;
    -webkit-box-shadow: 4px 4px 8px 0px rgba(0,0,0,0.2);
    -moz-box-shadow: 4px 4px 8px 0px rgba(0,0,0,0.2);
    box-shadow: 4px 4px 8px 0px rgba(0,0,0,0.2);
    margin-top: 20px;
    border-radius: 0px;
}
.p-strong-alam {
    color: #BDD530;
    margin-bottom: 0;
    font-size: 0.9em;
}
.btn-special {
    margin-top: 0;
}



/* Extra extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {

    .container-alam::after {
        top:190px;
    }
    .precio-t-alam {
        font-size: 3em;
    }
    .money-t-alam, .money-t-alam-alt {
        top: 10px;
        margin-right: 10px;
    }
    .cont-tel::after {
        top: 253px;
    }
    .precio-t-alam-alt {
        font-size: 3em;
    }
    .blue-bas {
        width: 100% !important;
    }
    .container-alam-special::after {
        top: 266px;
    }
    .card-carac {
        margin-top: 33vmin;
    }
    img#mexico-img, img#cable-img, img#internet-img {
        width: 35%;
    }
    img#capacidad-img {
        width: 40%;
    }
    .text-caract {
        font-size: 0.5em;
        margin-bottom: 0;
    }
    .p-strong-alam {
        font-size: 0.6em;
    }
    
  }
  
  /* Small devices (portrait tablets and large phones, 600px and up) */
  @media only screen and (min-width: 600px) {
  
    .container-alam::after {
        top:188px;
    }
    .precio-t-alam, .precio-t-alam-alt {
        font-size: 3em;
    }
    .money-t-alam, .money-t-alam-alt {
        top: 12px;
    }
    .blue-alam {
        width: 100% !important;
    }
    .container-alam-special::after {
        top: 155px;
    }
    .cont-tel::after {
        top: 253px;
    }
    .portabilidad {
        height: 13vmin;
    }
    .card-carac {
        margin-top: 5vmin;
    }
    .arrow-r-linea {
        left: 435px;
    }
    .text-caract {
        font-size: 0.5em;
        margin-bottom: 0;
    }
    .p-strong-alam {
        font-size: 0.6em;
    }
  }
  
  /* Medium devices (landscape tablets, 768px and up) */
  @media only screen and (min-width: 768px) {
    .cap-alam {
        font-size: 2rem ;
    }
    .vel-alam {
        font-size: 0.5rem;
        margin-right: 7px;
    }
    .contrata-alam {
        font-size: 0.5em;
    }
    .img-vel {
        width: 25%;
    }
    .precio-t-alam, .precio-t-alam-alt {
        font-size: 2em;
        line-height: 1;
        font-family: 'Futura Md BT';
    
    }
    .money-t-alam, .money-t-alam-alt {
        font-size: 1em;
        margin-top: 5px;
    }
    .container-alam::after {
        top:128px;
    }
    .container-alam-special::after {
        top: 280px;
    }
    .cont-tel::after {
        top: 278px;
    }
    .contrata-alam {
        font-size: 1em;
    }
    .arrow-r-linea {
        left: 255px;
    }
    .text-caract {
        font-size: 0.6em;
        margin-bottom: 0;
    }
    .p-strong-alam {
        font-size: 0.7em;
    }

}
  
  /* Large devices (laptops/desktops, 992px and up) */
  @media only screen and (min-width: 992px) {

    .cap-alam {
        font-size: 4.2rem;
    }
    .container-alam::after {
        top:165px;
    }
    .cap-tel {
        font-size: 4em;
    }
    .cont-tel::after {
        top: 274px;
    }
    .arrow-r-linea {
        left: 135px;

    }
    .text-caract {
        font-size: 0.7em;
        margin-bottom: 0;
    }
  } 
  
  /* Extra large devices (large laptops and desktops, 1200px and up) */
  @media only screen and (min-width: 1200px) {
  
        .cap-alam {
            font-size: 4.2rem;
        }
        .vel-alam {
            margin-right: 1rem;
            font-size: 1em;
        }
        .precio-t-alam, .precio-t-alam-alt {
            font-size: 3em;
        }
        .money-t-alam, .money-t-alam-alt {
            font-size: 2em;
            margin: -12px 15px ;

        }
        .contrata-alam {
            font-size: 1em;
        }
        .container-alam::after {
            top:155px;
        }
        .yellow-container-alt.precio-container.container-alam.container-alam-special {
            margin-top: 15px;
        }
        .cont-tel::after {
            top: 242px;
        }
        .card-carac {
            margin-top: 0;
        }
        .arrow-r-linea {
            left: 180px;
    
        }
        .text-caract {
            font-size: 0.8em;
            margin-bottom: 0;
        }
        .p-strong-alam {
            font-size: 0.9em;
        }
  }