
    .compra {
        font-family: frutiger LT;
        font-size: 15px;
        color: #4E5154;
    
    }

    .telefono-gbad {
        background-color: #512F84;
        color: white;
        font-family: Frutiger LT;
        text-align: center;
    }