@font-face {
    font-family: 'Futura Md BT';
    src: url('../fonts/futura_medium/FuturaBT-Medium.eot');
    src: url('../fonts/futura_medium/FuturaBT-Medium.eot?#iefix') format('embedded-opentype'),
        url('../fonts/futura_medium/FuturaBT-Medium.woff2') format('woff2'),
        url('../fonts/futura_medium/FuturaBT-Medium.woff') format('woff'),
        url('../fonts/futura_medium/FuturaBT-Medium.ttf') format('truetype'),
        url('../fonts/futura_medium/FuturaBT-Medium.svg#FuturaBT-Medium') format('svg');
    font-weight: 500;
    font-style: normal;
}


@font-face {
    font-family: 'Futura Hv BT';
    src: url('../fonts/FuturaBT-Heavy/FuturaBT-Heavy.eot');
    src: url('../fonts/FuturaBT-Heavy/FuturaBT-Heavy.eot?#iefix') format('embedded-opentype'),
        url('../fonts/FuturaBT-Heavy/FuturaBT-Heavy.woff2') format('woff2'),
        url('../fonts/FuturaBT-Heavy/FuturaBT-Heavy.woff') format('woff'),
        url('../fonts/FuturaBT-Heavy/FuturaBT-Heavy.ttf') format('truetype'),
        url('../fonts/FuturaBT-Heavy/FuturaBT-Heavy.svg#FuturaBT-Heavy') format('svg');
    font-weight: 900;
    font-style: normal;
}

@font-face {
    font-family: 'Frutiger LT Std';
    src: url('../fonts/FrutigerLTStd-Black/FrutigerLTStd-Black.eot');
    src: url('../fonts/FrutigerLTStd-Black/FrutigerLTStd-Black.eot?#iefix') format('embedded-opentype'),
        url('../fonts/FrutigerLTStd-Black/FrutigerLTStd-Black.woff2') format('woff2'),
        url('../fonts/FrutigerLTStd-Black/FrutigerLTStd-Black.woff') format('woff'),
        url('../fonts/FrutigerLTStd-Black/FrutigerLTStd-Black.ttf') format('truetype'),
        url('../fonts/FrutigerLTStd-Black/FrutigerLTStd-Black.svg#FrutigerLTStd-Black') format('svg');
    font-weight: 900;
    font-style: normal;
}





body{
    font-family: 'Futura Md BT';
    margin: 0 auto;
    padding: 0 auto;
    background-color: #ffffff;
    color: #000;
}

.tabs-container{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    justify-content: center;
    margin-top: 40px;
}
#precios {
    background-color: white;
}
.precios-frontera {
    padding: 0;
}
.suscribe-active{
    background-color: #008542 !important;
    color: white;
}
.suscribe-active p{
    color: white;
}

.suscribe-inactive{
    background-color: #DEE2E6 !important;
}
.suscribe-inactive p {
    color: #63259D !important;
}

.suscribe-alambrico{
    background-color: #DEE2E6;
    padding: 7px 22px;
    cursor: pointer;
    text-align: center;
}

.suscribe-inalambrico{
    padding: 7px 22px;
    cursor: pointer;
    text-align: center;
}

.suscribe-satelital{
    background-color: #DEE2E6;
    padding: 7px 22px;
    cursor: pointer;
    text-align: center;

}

.suscribe-text{
    font-family: 'Frutiger LT Std';
    font-size: 16px;
    text-transform: uppercase;
    margin: 0px;
}

.text-1st{
    font-family: 'Frutiger LT Std';
    color: #4e5154;
    font-size: 40px;
    text-align: center;
    line-height: 1;
    margin: 40px 0px 0px 0px;
}

.text-2nd{
    font-family: 'Futura Md BT';
    color: #512F84;
    font-size: 3.3rem;
    text-align: center;
    margin: 0px;
    vertical-align: text-top;
    line-height: 1;
}

.text-2nd_alt{
    font-family: 'Futura Hv BT';
    font-size: 4rem;
}

.text-2nd__alt{
    font-size: 5.3rem;
}

.text-3rd{
    font-family: 'Frutiger LT Std';
    color: #512F84;
    font-size: 24px;
    text-align: center;
    line-height: 1;
    margin: 0px;
    margin: 0px 0px 45px 0px;
}
.text-3rd_alt{
    font-family: 'Frutiger LT Std';
    color: #212528;
    font-size: 24px;
    text-align: center;
    line-height: 1;
    margin: 0px;
}

.text-4th{
    font-family: 'Futura Md BT';
    color: #000000;
    font-size: 16px;
    text-align: left;
    line-height: 1;
    margin: 0px 0px 5px 0px;
}
.text-5th {
    color: #626466;
    font-size: 2rem;
}
.text-6th {
    color: #212528;
    font-size: 1.5rem;
}
.text-6th_alt {
    color: #212528;
    font-size: 1rem;
    margin-top: 2vmin;
}
.alambrico-container{
    padding: 0px 25px;
}

.inalambrico-container{
    padding: 0px 25px;
}
.satelital-container{
    padding: 0px 25px;
}
.blue-container{
    width: 100%;
    background-color: #512F84;
    padding: 10px 15px 25px 15px;
    margin-bottom: 15px;
}

.icon-text{
    display: flex;
    align-items: center;
    justify-content: center;
}

.hasta-text{
    font-family: 'Futura Md BT';
    color: #ffffff;
    font-size: 1.5rem;
    margin: 0px;
    line-height: 1;
    text-transform: uppercase;
    margin-right: 5px;
}

.hasta-text-alt {
    font-family: 'Futura Md BT';
    color: #95C841;
    font-size: 20px;
    margin: 0px;
    line-height: 1;
    text-transform: uppercase;
    margin-top: 10px;
}

.capacidad-text{
    font-family: 'Futura Md BT';
    color: #95C841;
    font-size: 100px;
    text-align: center;
    margin: 0px;
    line-height: 1;
}
.alambrico-container .capacidad-text {
    font-size: 4rem;
}
.alambrico-container .precio-text {
    font-size: 4rem;
}
.alambrico-container .month-text {
    font-size: 2rem;
}
.alambrico-container .btn-contratar {
    font-size: 1rem;
}
.alambrico-container .yellow-container:after {
    top: 206px;
}
.megas-text{
    font-family: 'Futura Md BT';
    color: #95C841;
    font-size: 40px; 
    text-transform: uppercase;
    text-align: center;
    line-height: 1;
    margin: 0px 0px 30px;
}

.velocidad-text{
    font-family: 'Futura Hv BT';
    color: #95C841;
    font-size: 12px; 
    text-transform: uppercase;
    text-align: center;
    line-height: 1;
    margin: 0px 0px 30px;
}

.velocidad-text span{
    font-family: 'Futura Md BT';
}

.yellow-container{
    background-color: #BDD530;
    border: solid 2px #ffffff;
    padding: 15px;
    margin-left: -35px;
    margin-right: -35px;
    text-align: center;
}

.yellow-container:after{
    content: '';
    position: absolute;
    width: 0; 
    height: 0; 
    border-left: 15px solid transparent;
    border-right: 15px solid transparent;
    border-bottom: 15px solid rgba(189, 213, 48, 1);
    top: 242px;
    left: 46%;
}

.capacidad-text-alt{
    font-family: 'Futura Md BT';
    color: #512F84;
    font-size: 26px; 
    text-transform: uppercase;
    text-align: center;
    line-height: 1;
    margin: 0px;
    margin-right: 5px;
}

.divider{
    height: 2px;
    width: 100%;
    background-color: #96c942;
    margin-top: 5px;
}

.divider-alt{
    height: 2px;
    width: 100%;
    background-color: white;
    margin-top: 5px;
}

.gigas-text{
    font-family: 'Futura Md BT';
    color: #512F84;
    font-size: 86px;
    text-align: center;
    line-height: 1;
    margin: 0px;
}

.gigas-text span{
    font-size: 64px; 
    text-transform: uppercase;
}

.caracteristicas-text{
    color: #62259d;
    font-size: 12px; 
    margin: 10px 0px 5px 0px;
    line-height: 1;
    text-transform: uppercase;
}

.precio-container{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
}

.money-text{
    font-family: 'Futura Md BT';
    font-size: 40px;
    color: #ffffff;
    margin: 0px !important;
}

.money-text{
    font-family: 'Futura Md BT';
    font-size: 40px;
    color: #ffffff;
    margin: 0px !important;
}
.money-text_alt{
    font-family: 'Futura Md BT';
    font-size: 40px;
    color: #512F84;
    margin: 0px !important;
}
.money-text__alt{
    font-family: 'Futura Md BT';
    font-size: 20px;
    color: #512F84;
    margin: 0px !important;
}
.precio-text{
    font-family: 'Futura Md BT';
    font-size: 3rem;
    color: #ffffff;
    margin: 0px !important;
    line-height: 1;
}
.precio-text_alt{
    font-family: 'Futura Md BT';
    font-size: 5rem;
    color: #512F84;
    margin: 0px !important;
    line-height: 1;
}
.precio-text__alt{
    font-family: 'Futura Md BT';
    font-size: 2rem;
    color: #512F84;
    margin: 0px !important;
    line-height: 1;
}
.alambrico-container .money-text,.alambrico-container .precio-text,.alambrico-container .month-text{
    color: #512F84;
}

.month-text{
    font-family: 'Futura Md BT';
    font-size: 44px;
    color: #ffffff;
    text-transform: uppercase;
    text-align: center;
    margin: 0px !important;
    line-height: 1;
}

.btn-contratar{
    width: 100%;
    font-family: 'Futura Md BT';
    font-size: 26px;
    text-align: center;
    line-height: 1;
    background-color: #ffffff;
    color: #512F84;
    text-transform: uppercase;
    -webkit-box-shadow: 4px 4px 8px 0px rgba(0,0,0,0.2);
    -moz-box-shadow: 4px 4px 8px 0px rgba(0,0,0,0.2);
    box-shadow: 4px 4px 8px 0px rgba(0,0,0,0.2);
    margin-top: 20px;
    border-radius: 0px;
}

.btn-contratar:hover{
    background-color: #BDD530;
    color: #512F84;
    -webkit-box-shadow: 7px 7px 8px 0px rgba(0,0,0,0.2);
    -moz-box-shadow: 7px 7px 8px 0px rgba(0,0,0,0.2);
    box-shadow: 7px 7px 8px 0px rgba(0,0,0,0.2);
}

.importante-title{
    font-family: 'Futura Hv BT';
    font-size: 28px;
    color: #646769;
    text-transform: uppercase;
    text-align: center;
    margin: 0px !important;
    line-height: 1;   
}

.warning-container{
    border: solid 1px #707070;
    padding: 10px 20px;
    margin-bottom: 10px;
    height: 65px;
    position: relative;
    display: flex;
    align-items: center;
}

.warning-text{
    font-family: 'Futura Md BT';
    font-size: 14px;
    color: #212528;
    text-align: center;
    margin: 0px !important;
    line-height: 1;   
}

.number{
    position: absolute;
    width: 24px;
    text-align: center;
    height: 24px;
    border-radius: 100%;
    background-color: #707070;
    color: #ffffff;
    left: -12px;
    top: 30%;
    font-size: 14px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.legals{
    font-size: 14px;
    color: #212528;
    opacity: 0.7;
    margin: 25px 0px 15px 0px;
}
.esp-alambricas {
    background-color: #512F84;
    border: 1px solid #512F84;
    text-align: center;
    color: white;
    margin:0 2vmin;
    width: 309px;
    height: 211px;
}
.card-img-top {
    width: auto;
    height: 90%;
}
p.card-text {
    font-size: 14px;
}
.p-strong {
    color: #BDD530;
    margin-bottom: 0;
    font-size: 0.9em;
}
.card-group-alambrico {
    background-color: #E8E8E8;
    padding: 5vmin 2vmin;
}
.separador-satelital {
    border: 1px solid #008542;
}
.empresariales {
    font-size: 1rem;

}
.col-empresariales {
    border: 1px solid #512F84;
}
.yellow-title {
    background-color: #BDD630;
    padding: 1.5vmin 30vmin;
}
.title-sat-ilimitado {
    color: #512F84;
    font-size: 2rem;
}
.card-capacidad {
    background-color: #BDD530;
    border: 2px solid #F7F8F8;
}
.img-capacidad-sat {
    width: 100%;
}
.btn-contrata-sat{
    background-color: #512F84;
    color: white;
    border-radius: 0;
    font-size: 1.5rem;
    border: none;
    padding: 1vmin 15vmin;
}
.bg-inst {
    background-color: #512F84;
    color: white;
}
.card-inst {
    border: none;
    border-radius: 0;
}
.footer-inst {
    font-size: 0.8rem;
}
.footer-inst_alt {
    font-size: 0.6rem;
}
@media (max-width: 400px) {
    .suscribe-inalambrico-container {
        padding: 0px !important;
    }

    .suscribe-alambrico-container {
        padding: 0px !important;
    }

    .yellow-container {
        margin-left: -15px !important;
        margin-right: -15px !important;
    }

    .hasta-text {
        text-align: center !important;
        padding-left: 0px !important;
    }

    .text-1st, .text-2nd, .text-3rd, .text-4th {
        text-align: center !important;
        padding: 0px 10px !important;
    }

    .tabs-container{
        display: block !important;
    }

    .suscribe-alambrico {
        margin-right: 0px !important;
        margin-bottom: 10px;
    }

    .suscribe-inalambrico {
        margin-left: 0px !important;
        margin-top: 10px;
    }

    .text-1st {
        font-size: 30px !important;
    }

    .text-2nd {
        font-size: 48px !important;
    }

    .text-2nd_alt {
        font-size: 55px !important;
    }

    .text-2nd__alt {
        font-size: 98px !important;
    }

    .text-3rd {
        font-size: 14px !important;
    }

    .text-4th {
        font-size: 18px !important;
    }

    .first{
        -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
        order: 1;
    }

    .second{
        -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
        order: 2;
    }

    .third{
        -webkit-box-ordinal-group: 4;
        -ms-flex-order: 3;
        order: 3;
    }

    .fourth{
        -webkit-box-ordinal-group: 5;
        -ms-flex-order: 4;
        order: 4;
    }

    .fifth{
        -webkit-box-ordinal-group: 6;
        -ms-flex-order: 5;
        order: 5;
    }

}

@media screen and (min-width: 401px) and (max-width: 580px) {
    .suscribe-inalambrico-container {
        padding: 0px !important;
    }

    .suscribe-alambrico-container {
        padding: 0px !important;
    }

    .yellow-container {
        margin-left: -15px !important;
        margin-right: -15px !important;
    }

    .hasta-text {
        text-align: center !important;
        padding-left: 0px !important;
    }

    .text-1st, .text-2nd, .text-3rd, .text-4th {
        text-align: center !important;
        padding: 0px 40px !important;
    }

    .tabs-container{
        display: block !important;
    }

    .suscribe-alambrico {
        margin-right: 0px !important;
        margin-bottom: 10px;
    }

    .suscribe-inalambrico {
        margin-left: 0px !important;
        margin-top: 10px;
    }

    .text-1st {
        font-size: 30px !important;
    }

    .text-2nd {
        font-size: 50px !important;
    }

    .text-2nd_alt {
        font-size: 55px !important;
    }

    .text-2nd__alt {
        font-size: 98px !important;
    }

    .text-3rd {
        font-size: 14px !important;
    }

    .text-4th {
        font-size: 18px !important;
    }

    .first{
        -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
        order: 1;
    }

    .second{
        -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
        order: 2;
    }

    .third{
        -webkit-box-ordinal-group: 4;
        -ms-flex-order: 3;
        order: 3;
    }

    .fourth{
        -webkit-box-ordinal-group: 5;
        -ms-flex-order: 4;
        order: 4;
    }

    .fifth{
        -webkit-box-ordinal-group: 6;
        -ms-flex-order: 5;
        order: 5;
    }
    
}

@media screen and (min-width: 581px) and (max-width: 990px) {
    .warning-container{
        height: 90px;
    }
    .suscribe-inalambrico-container {
        padding: 0px !important;
    }

    .suscribe-alambrico-container {
        padding: 0px !important;
    }

    .yellow-container {
        margin-left: -15px !important;
        margin-right: -15px !important;
    }

    .hasta-text {
        text-align: center !important;
        padding-left: 0px !important;
    }

    .text-1st, .text-2nd, .text-3rd, .text-4th {
        text-align: center !important;
        padding: 0px 10px !important;
    }

    /*.capacidad-text{
        font-size: 90px !important;
    }
    */

    ..megas-text{
        font-size: 30px !important;
    }

    .gigas-text{
        font-size: 62px !important;
    }

    .gigas-text span{
        font-size: 40px !important;
    }

    .money-text{
        font-size: 30px !important; 
    }

    .precio-text{
        font-size: 65px !important; 
    }

    .month-text{
        font-size: 34px !important; 
    }

    .yellow-container:after {
        top: 190px;
    }

    .first{
        -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
        order: 1;
    }

    .second{
        -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
        order: 2;
    }

    .third{
        -webkit-box-ordinal-group: 4;
        -ms-flex-order: 3;
        order: 3;
    }

    .fourth{
        -webkit-box-ordinal-group: 5;
        -ms-flex-order: 4;
        order: 4;
    }

    .fifth{
        -webkit-box-ordinal-group: 6;
        -ms-flex-order: 5;
        order: 5;
    }

}

@media screen and (min-width: 991px) and (max-width: 1200px) {
  .break-text {
    display: none;
  }

  .warning-container{
    height: 85px;

    }
}